{% extends "base.html" %}
{% block title %}Pedidos{% endblock %}
{% block content %}
	<h2>Planificación Semanal</h2>
	{% if msg %}
		<div class="alert alert-{{ alert }} alert-dismissible">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			{{ msg }}
		</div>
	{% endif %}
	<div class="card">
		<div class="card-body">
				<table class="table table-sm table-striped table-hover">
					<thead>
						<th>Semana</th>
						<th>Fecha de entrega</th>
						<th>Pedidos</th>
						<th>Cantidad</th>
						<th>Kilos</th>
					</thead>
					<tbody>
						{% for row in rows %}
							<tr class="{{ 'table-danger' if (datetime.today().strftime('%U') == datetime.strptime(row.fecha_entrega, '%Y-%m-%d').strftime('%U')) else 'table-warning' if (datetime.today().strftime('%U') < datetime.strptime(row.fecha_entrega, '%Y-%m-%d').strftime('%U')) else 'text-black-50' if (datetime.today().strftime('%U') > datetime.strptime(row.fecha_entrega, '%Y-%m-%d').strftime('%U')) }}">
								<td class="align-middle">{{ datetime.strptime(row.fecha_entrega, '%Y-%m-%d').strftime('%U') }}</td>
								<td class="align-middle">{{ datetime.strptime(row.fecha_entrega, '%Y-%m-%d').strftime('%d/%m/%Y') }}</td>
								<td>
									<ul>
										{% for pedido in pedidos[row.fecha_entrega] %}
										<li><a href="/pedido/{{ pedido.id }}/ver"> Nº: {{ pedido.id }} - Dirección: {{ pedido.direccion }}</a></li>
										{% endfor %}
									</ul>
								</td>
								<td class="align-middle">{{ row.cantidad }}</td>
								<td class="align-middle">{{ row.kilos if row.kilos }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
		</div>
	</div>

{% endblock %}
