{% extends "base.html" %}
{% block title %}Productos{% endblock %}
{% block content %}
	{% if producto %}
	<h2>Editar Producto</h2>
	{% else %}
	<h2>Nuevo Producto</h2>
	{% endif %}
	<div class="card">
		<div class="card-body">
			<form method="POST" action="/producto">
				{% if producto %}
				<input type="hidden" id="id" name="id" value="{{ producto.id if producto }}">
				{% endif %}
				<div class="form-row">
					<div class="form-group col-md-12">
						<label for="nombre">Producto:</label>
						<input type="text" class="form-control" id="nombre" name="nombre" value="{{ producto.nombre if producto }}">
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-12">
						<label for="marca">Marca:</label>
						<input type="text" class="form-control" id="marca" name="marca" value="{{ producto.marca if producto }}">
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-12">
						<label for="costo_kilo">Costo x Kg:</label>
						<input type="text" class="form-control" id="costo_kilo" name="costo_kilo" value="{{ producto.costo_kilo if producto else 0 }}" required>
					</div>
				</div>
				<div class="form-row">
					<input type="submit" value="Guardar" class="btn btn-primary float-right mx-1">
					<a href="/producto" class="btn btn-secondary float-right mx-1">Volver</a>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
