{% extends "base.html" %}
{% block title %}Productos{% endblock %}
{% block content %}
	<h2>Productos
	<a class="btn btn-primary text-right" href="/producto/nuevo">Nuevo Producto</a>
	</h2>
	
	{% if msg %}
		<div class="alert alert-success alert-dismissible">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			{{ msg }}
		</div>
	{% endif %}
	<div class="card">
		<div class="card-body">
			<form action='/producto' name="formu" method="POST" onsubmit="return confirmar();">
				<table class="table table-sm table-striped table-hover">
					<thead>
						<th></th>
						<th></th>
						<th>ID</th>
						<th>Producto</th>
						<th>Marca</th>
						<th>Costo x Kg</th>
					</thead>
					<tbody>
						{% for producto in productos %}
							<tr>
								<td>
									<input type="checkbox" value="{{ producto.id }}" name="borrar" onclick="document.getElementById('boton').style.display='block'">
								</td>
								<td>
									<a class="btn btn-sm btn-link" href="/producto/{{ producto.id }}/editar">Editar</a>
								</td>
								<td>{{ producto.id }}</td>
								<td>{{ producto.nombre }}</td>
								<td>{{ producto.marca }}</td>
								<td>{{ producto.costo_kilo }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<input type="submit" value="Borrar" class="btn btn-danger" id="boton" style="display:none">
			</form>
		</div>
	</div>
	<script>
		function confirmar() {
        	var checkcount = 0;
            var cajas = document.formu.elements["borrar"];
            for (var i=0; i<cajas.length; i++) {
                if(cajas[i].checked == true) {
                    checkcount++;
                    }
                }
            if (checkcount === 0) {
                alert("Ningún elemento seleccionado.");
                return false;
                }
            else {
                return confirm("¿Seguro que deseas eliminar los productos seleccionados?");
                }
        }
	</script>
{% endblock %}
